#Team{
    color: white;
    font-weight: bolder;
    text-align : center;
    font-size: 22px;
    font-weight: bolder;
}

#KICK_Board_Button{
    position:absolute;
    top: 10px;
    left: 10px;
    padding:1px;
    z-index:10;

    border-radius: 10px;
    background-color: yellow;
    color : black;
    font-weight: bolder;
}

#SmokeingBooth_Button{
    position:absolute;
    top:40px;
    left:10px;
    padding:1px;
    z-index:10;

    border-radius: 10px;
    background-color: rgb(233, 231, 231);
    font-weight: bolder;
}

#Do_Not_Smoke_IKSAN_Button{
    position:absolute;
    top:70px;
    left:10px;
    padding:1px;
    z-index:10;

    border-radius: 10px;
    background-color: green;
    font-weight: bolder;
}

#EV_charging_Button{
    position:absolute;
    top:100px;
    left: 10px;
    padding:1px;
    z-index:10;

    border-radius: 10px;
    background-color: #7fb1bf;
    font-weight: bolder;
}

#Shelter_Button{
    position:absolute;
    top:130px;
    left:10px;
    padding:1px;
    z-index:10;

    border-radius: 10px;
    background-color: red;
    font-weight: bolder;
}

#remove_Button{
    position:absolute;
    top:160px;
    left:10px;
    padding:1px;
    z-index:10;

    border-radius: 10px;
    background-color: gray;
    font-weight: bolder;
}



